/* General */

body {
  font-family: 'Roboto';
  color: #707070;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 10px;
}

.center-horizontally {
  margin-left: auto;
  margin-right: auto;
}

.center-align {
  text-align: center;
}

/* Images */

.app-logo {
  max-width: 200px;
}

.app-logo path {
  fill: #69d675;
}

/* NavBar */

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
}

ul.navbar li {
  float: left;
  /* border-right: 1px solid #bbb; */
}

ul.navbar li a,
ul.navbar li button {
  display: block;
  color: #707070;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #6373c7;
  text-underline-offset: 5px;
}

ul.navbar li button {
  background-color: inherit;
  border: none;
  font: inherit;
}

ul.navbar button:hover {
  cursor: pointer;
}

ul.navbar .right {
  float: right;
  /* border-left: 1px solid #bbb; */
  border-right: none;
}

#logout {
  text-decoration-color: #d65454;
}

/* Forms */
form {
  display: grid;
  padding: 1em;
  margin: 2rem auto 0 auto;
  max-width: 600px;
}

form label {
  padding: 0.5em 0.5em 0.5em 0;
}

form button {
  padding: 0.7em 0 0.7em 0;
  width: 100%;
  border: 0;
}

input[type='number'],
input[type='email'],
input[type='password'] {
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
  margin: 0.7em;
}

input[type='number']:focus,
input[type='email']:focus,
input[type='password']:focus {
  border: 3px solid #555;
}

@media (min-width: 400px) {
  form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  form label {
    text-align: right;
    grid-column: 1/2;
  }

  form input,
  form button {
    grid-column: 2/3;
  }
}

/* Past Times */
.centered-past-times {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(5, 150px);
  grid-auto-rows: 150px;
}

.past-times {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 150px);
  grid-auto-rows: 150px;
}

.past-times li,
.centered-past-times li {
  padding-left: 10px;
  list-style-type: none;
  background-color: lightcoral;
}

.past-times li p:first-child,
.centered-past-times li p:first-child {
  margin-top: 10px;
}

/* Metrics */
.metric {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 4fr;
  margin: 10px;
}

.metric .stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  background-color: lightcyan;
  padding: 10px;
}

.metric .stats .stat {
  background-color: lightgray;
  padding: 10px;
}
