/* General */

body {
  font-family: 'Titillium Web', sans-serif;
  color: #f6fcf7;
  background-color: #152835;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  min-height: 100vh;
}

input,
select,
textarea,
button {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: grid;
  gap: 10px;
}

.center-horizontally {
  margin-left: auto;
  margin-right: auto;
}

.center-align {
  text-align: center;
}

/* Images */

.app-logo {
  max-width: 200px;
}

.app-logo path {
  fill: #69d675;
}

/* NavBar */

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
}

ul.navbar li {
  float: left;
  /* border-right: 1px solid #bbb; */
}

ul.navbar li a,
ul.navbar li button {
  display: block;
  color: #f6fcf7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #6373c7;
  text-underline-offset: 5px;
  transition: text-decoration-color 0.2s ease;
}

ul.navbar li a:hover,
ul.navbar li button:hover {
  text-decoration-color: #69d675;
}

ul.navbar li button {
  background-color: inherit;
  border: none;
  font: inherit;
}

ul.navbar button:hover {
  cursor: pointer;
}

ul.navbar .right {
  float: right;
  /* border-left: 1px solid #bbb; */
  border-right: none;
}

#logout {
  text-decoration-color: #d65454;
}

/* Forms */
form {
  display: grid;
  padding: 1em;
  max-width: 600px;
}

form label {
  padding: 0.5em 0.5em 0.5em 0;
}

form button {
  padding: 0.7em 0 0.7em 0;
  width: 100%;
  border: 0;
  margin-top: 1em;
  font-size: 1.1em;
  font-weight: 600;
  color: #152835;
  background-color: #69d675;
  transition: background-color 0.2s ease;
}

form button:hover {
  background-color: #57e187;
}

form h2 {
  margin-top: 0px;
  text-align: center;
}

input[type='number'],
input[type='email'],
input[type='password'] {
  padding: 12px 20px;
  margin-top: 0.2em;
  margin-bottom: 0.7em;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
  width: 100%;
}

input[type='number']:focus,
input[type='email']:focus,
input[type='password']:focus {
  border: 3px solid #555;
}

.sensor label {
  width: 100%;
}

/* Past Times */
.sensed-times-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sensed-times-content {
  --width: 150px;
  --num-columns: 5;
  display: grid;
  grid-template-columns: repeat(var(--num-columns), minmax(var(--width), 1fr));
  gap: 10px;
}

.sensed-time {
  --height: 100px;
  border: medium solid white;
  display: flex;
  height: var(--height);
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 875px) {
  .sensed-times-content {
    --width: 135px;
  }
  .sensed-time {
    --height: 90px;
  }
}

@media screen and (max-width: 800px) {
  .sensed-times-content {
    --width: 120px;
  }
  .sensed-time {
    --height: 80px;
  }
}

@media screen and (max-width: 725px) {
  .sensed-times-content {
    --width: 105px;
  }
  .sensed-time {
    --height: 70px;
  }
}

@media screen and (max-width: 650px) {
  .sensed-times-content {
    --width: 90px;
  }
  .sensed-time {
    --height: 60px;
  }
}

@media screen and (max-width: 575px) {
  .sensed-times-content {
    --width: 75px;
  }
  .sensed-time {
    --height: 50px;
  }
}

@media screen and (max-width: 450px) {
  ul.navbar .right {
    float: left;
  }
  .sensed-times-content {
    --num-columns: 4;
  }
}

@media screen and (max-width: 350px) {
  .sensed-times-content {
    --num-columns: 3;
  }
}

@media screen and (max-width: 250px) {
  .sensed-times-content {
    --num-columns: 2;
  }
}

/* Metrics */
.metric {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 4fr;
  margin: 10px;
}

.metric .stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  background-color: lightcyan;
  padding: 10px;
}

.metric .stats .stat {
  background-color: lightgray;
  padding: 10px;
}
