/* General */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.center-horizontally {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* NavBar */

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.navbar li {
  float: left;
  border-right: 1px solid #bbb;
}

ul.navbar li a,
button {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

ul.navbar li button {
  background-color: inherit;
  border: none;
  font: inherit;
}

ul.navbar li:not(#app_name) a:hover {
  background-color: #111;
}

ul.navbar .right {
  float: right;
  border-left: 1px solid #bbb;
  border-right: none;
}

#app_name {
  background-color: #2692eb;
}

/* Forms */
form {
  display: grid;
  padding: 1em;
  margin: 2rem auto 0 auto;
  max-width: 600px;
}

form label {
  padding: 0.5em 0.5em 0.5em 0;
}

form button {
  padding: 0.7em 0 0.7em 0;
  width: 100%;
  border: 0;
}

form input[type='email'],
input[type='password'] {
  padding: 12px 20px;
  margin: 8px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
  margin: 0.7em;
}

input[type='email']:focus,
input[type='password']:focus {
  border: 3px solid #555;
}

@media (min-width: 400px) {
  form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  label {
    text-align: right;
    grid-column: 1/2;
  }

  input,
  button {
    grid-column: 2/3;
  }
}
